[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pio-ws2812-rp2040"]
	path = pio-ws2812-rp2040
	url = https://github.com/dgatf/pio-ws2812-rp2040.git
